<div class="breadcrumbs">
  <ol class="breadcrumbs__list" role="list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__page" href="{{ routes.root_url }}">Home</a>
    </li>
    {%- if product.collections != blank -%} 
      {%- assign first_collection = product.collections | first -%}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__page" href="">{{ first_collection.title | capitalize }}</a>
      </li>
    {%- endif -%}
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__page breadcrumbs__page--current">{{ product.title | capitalize }}</span>
    </li>
  </ol>
</div>
