<div class="breadcrumbs">
  <ol class="breadcrumbs__list" role="list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__page" href="/">Home</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__page" href="">Women</a>
    </li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__page breadcrumbs__page--current">White unisex t-shirt</span>
    </li>
  </ol>
</div>
