{%- if section.settings.alternate_collection.products != blank -%}
  <section class="product-recommendations">
    <h2 class="recommendation-heading heading--xxl heading">{{ section.settings.recommendations_heading }}</h2>
    <ul class="products__list" role="list">
      {%- for product in section.settings.alternate_collection.products limit:4-%}
        <li>
          {% render 'alternate-product-card', alternate_card_product: product%}
        </li>
      {%- endfor -%}
    </ul>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "product-recommendations",
  "settings": [
    {
      "type": "text",
      "id": "recommendations_heading",
      "label": "Recommendations heading",
      "default": "You may also like"
    },
    {
      "type": "collection",
      "id": "alternate_collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "alternate-product-recommendations-1"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
