<section class="product-recommendations">
  <h2 class="recommendation-heading heading--xxl heading">{{ section.settings.recommendations_header }}</h2>
  <ul class="products__list" role="list">
    <li>
      <article class="product-card recommendation-product-card">
        <img
          src="https://anastasiya-chernyavskaya.netlify.app/assets/img/DSC_2518.png"
          alt="Product name"
          class="recommendation-product__image product-card__image"
        >
        <div class="product-item__info">
          <h3 class="recommendation-product-heading heading">
            <a href="" class="product-card__link">Product name</a>
          </h3>
          <fieldset class="recommendation-product-card__fieldset">
            <legend class="visually-hidden">Color</legend>
            <div class="radio-group">
              <div class="radio radio--color">
                <input
                  id="terracotta-color-1"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-1"
                  value="Terracotta"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="terracotta-color-1"
                  style="background-color: #c88252"
                  ><span class="visually-hidden">Terracotta</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="purple-color-1"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-1"
                  value="Purple"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="purple-color-1"
                  style="background-color: #ba9be5"
                  ><span class="visually-hidden">Purple latte</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="pink-color-1"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-1"
                  value="Pink"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="pink-color-1"
                  style="background-color: #e9a0a7"
                  ><span class="visually-hidden">Pink</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="barely-pink-color-1"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-1"
                  value="Barely pink"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="barely-pink-color-1"
                  style="background-color: #f8cab1"
                  ><span class="visually-hidden">Barely pink</span></label
                >
              </div>
            </div>
          </fieldset>
          <p><abbr title="Swiss franc">CHF</abbr> 40</p>
        </div>
      </article>
    </li>
    <li>
      <article class="product-card recommendation-product-card">
        <img
          src="https://anastasiya-chernyavskaya.netlify.app/assets/img/DSC_2518.png"
          alt="Product name"
          class="recommendation-product__image product-card__image"
        >
        <div class="product-item__info">
          <h3 class="recommendation-product-heading heading">
            <a href="" class="product-card__link">Product name</a>
          </h3>

          <fieldset class="recommendation-product-card__fieldset">
            <legend class="visually-hidden">Color</legend>
            <div class="radio-group">
              <div class="radio radio--color">
                <input
                  id="terracotta-color-2"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-2"
                  value="Terracotta"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="terracotta-color-2"
                  style="background-color: #c88252"
                  ><span class="visually-hidden">Terracotta</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="purple-color-2"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-2"
                  value="Purple"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="purple-color-2"
                  style="background-color: #ba9be5"
                  ><span class="visually-hidden">Purple latte</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="pink-color-2"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-2"
                  value="Pink"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="pink-color-2"
                  style="background-color: #e9a0a7"
                  ><span class="visually-hidden">Pink</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="barely-pink-color-2"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-2"
                  value="Barely pink"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="barely-pink-color-2"
                  style="background-color: #f8cab1"
                  ><span class="visually-hidden">Barely pink</span></label
                >
              </div>
            </div>
          </fieldset>
          <p><abbr title="Swiss franc">CHF</abbr> 40</p>
        </div>
      </article>
    </li>
    <li>
      <article class="product-card recommendation-product-card">
        <img
          src="https://anastasiya-chernyavskaya.netlify.app/assets/img/DSC_2518.png"
          alt="Product name"
          class="recommendation-product__image product-card__image"
        >
        <div class="product-item__info">
          <h3 class="recommendation-product-heading heading">
            <a href="" class="product-card__link">Product name</a>
          </h3>
          <ul class="product-card__tags tags" role="list">
            <li class="tags__item tags__item--sold-out">Sold out</li>
          </ul>

          <fieldset class="recommendation-product-card__fieldset">
            <legend class="visually-hidden">Color</legend>
            <div class="radio-group">
              <div class="radio radio--color">
                <input
                  id="terracotta-color-3"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-3"
                  value="Terracotta"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="terracotta-color-3"
                  style="background-color: #c88252"
                  ><span class="visually-hidden">Terracotta</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="purple-color-3"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-3"
                  value="Purple"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="purple-color-3"
                  style="background-color: #ba9be5"
                  ><span class="visually-hidden">Purple latte</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="pink-color-3"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-3"
                  value="Pink"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="pink-color-3"
                  style="background-color: #e9a0a7"
                  ><span class="visually-hidden">Pink</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="barely-pink-color-3"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-3"
                  value="Barely pink"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="barely-pink-color-3"
                  style="background-color: #f8cab1"
                  ><span class="visually-hidden">Barely pink</span></label
                >
              </div>
            </div>
          </fieldset>
          <p><abbr title="Swiss franc">CHF</abbr> 40</p>
        </div>
      </article>
    </li>
    <li>
      <article class="product-card recommendation-product-card">
        <img
          src="https://anastasiya-chernyavskaya.netlify.app/assets/img/DSC_2518.png"
          alt="Product name"
          class="recommendation-product__image product-card__image"
        >
        <div class="product-item__info">
          <h3 class="recommendation-product-heading heading">
            <a href="" class="product-card__link">Product name</a>
          </h3>
          <fieldset class="recommendation-product-card__fieldset">
            <legend class="visually-hidden">Color</legend>
            <div class="radio-group">
              <div class="radio radio--color">
                <input
                  id="terracotta-color-4"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-4"
                  value="Terracotta"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="terracotta-color-4"
                  style="background-color: #c88252"
                  ><span class="visually-hidden">Terracotta</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="purple-color-4"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-4"
                  value="Purple"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="purple-color-4"
                  style="background-color: #ba9be5"
                  ><span class="visually-hidden">Purple latte</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="pink-color-4"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-4"
                  value="Pink"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="pink-color-4"
                  style="background-color: #e9a0a7"
                  ><span class="visually-hidden">Pink</span></label
                >
              </div>

              <div class="radio radio--color">
                <input
                  id="barely-pink-color-4"
                  class="radio__input"
                  type="radio"
                  name="recommendation-product-color-4"
                  value="Barely pink"

                ><label
                  class="radio__label recommendation-radio__label"
                  for="barely-pink-color-4"
                  style="background-color: #f8cab1"
                  ><span class="visually-hidden">Barely pink</span></label
                >
              </div>
            </div>
          </fieldset>
          <p><abbr title="Swiss franc">CHF</abbr> 40</p>
        </div>
      </article>
    </li>
  </ul>
</section>

{% schema %}
{
  "name": "product-recommendations",
  "settings": [
    {
      "type": "text",
      "id": "recommendations_header",
      "label": "Recommendations header",
      "default": "You may also like"
    },
    {
        "type": "collection_list",
        "id": "collection_list",
        "label": "Collections",
        "limit": 6
    }
  ],
  "presets": [
    {
      "name": "alternate-product-recommendations-1"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
